# Qt-specific
*.pro.user
*.pro.user.*
*.qmake.stash
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
debug/
release/
build/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE-specific files
.qmake.stash
.qt/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 